<div class="container">
  <header class="game-info">
    <p>Find Odlaw, Wizard Whitebeard, Wenda, and Waldo</p>
    <%= image_tag "logo.png" %>
    <h1>Where Is Waldo?</h1>
  </header>
  <button>Play</button>
  <ol class="scenes-list hidden">
    <% @scenes.each do |scene| %>
    <li><%= link_to scene.title, play_path(scene) %></li>
    <% end %>
  </ol>
</div>