<h1 class="scene-title">
  <span>
    <%= @scene.title %> | 
    <%= image_tag "logo.png" %> |
    <small>Find Odlaw, Wizard Whitebeard, Wenda, and Waldo</small>
  </span>
</h1>
<div class="fullscreen-overlay hidden">
  <%= render "shared/score_form" %>
</div>
<div id="scene-container">
  <%= image_tag "scenes/#{@scene.asset_name}" %>
</div>
