/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

.fullscreen-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  z-index: 9999;
}

.score-form {
  padding: 1rem;
  border-radius: .5rem;
  background: white;
}

.score-form .sections {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

.sections > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.time { font-size: 2rem; }

.center { text-align: center; }

.hidden { display: none; }
