#scene-container { position: relative; }

.target-box {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid black;

  .white-fill {
    border: 4px solid white;

    .inner-frame {
      border: 1px solid black;
      height: 90px;
    }
  }

  .name-tag {
    background: white;
  }
}
