#scene-container { position: relative; }

.target-box {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid black;
  transform: translate(-50%, -50px);

  .white-fill {
    border: 4px solid white;

    .inner-frame {
      border: 1px solid black;
      height: 90px;
    }
  }

  .name-tag {
    background: white;
  }
}

.waiting-marker {
  position: absolute;
  display: block;
  background: red;
  width: 30px;
  height: 30px;
}
