// Place all the styles related to the Scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 a {
  text-decoration: underline dotted red;
  color: inherit;
}

.form-error {
  background: red;
  color: white;
  padding: .4em;
  border-radius: .4em;
}

.pagination {
  padding: 0;

  li {
    display: inline-block;

    a {
      display: inline-block;
      text-align: center;
      min-width: 1.5em;
      padding: .25em;
      border-radius: .25em;
      border: 1px solid gray;
      color: inherit;

      &.inactive { color: gray; }

      &.inactive { border-color: lightgray; }

      &.current { color: red; }
    }
  }
}

// Scoreboard

ol.scoreboard {
  padding-left: 0;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.5em;

  li {
    display: flex;
    align-items: center;
    padding: .1em .3em;
  }

  .name {
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em;
  }

  .time { font-size: 1.2em; }

  .score { display: inline-block; }
}

li:target {
  background: orange;
  box-shadow: 0 0 1em orange;
}
