.home {
  height: 100vh;
  display: grid;
  place-content: center;
}

.home + footer {
  position: absolute;
  bottom: 0;
}

.game-info {
  display: grid;
  grid-template-rows: auto auto 30px auto;

  > * { grid-column: 1 / 2; }

  img {
    grid-row: 2 / span 2;
    margin: 0 auto;
  }

  h1 {
    grid-row: 3 / span 2;
    margin-top: 0;
    font-size: 4.4rem;
  }
}

.scenes-list {
  transition: transform 200ms ease-in;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  justify-items: start;

  padding-left: 0;

  p { grid-column: 1 / -1; }

  li { list-style: none; }

  li a {
    display: inline-block;
    border: 1px solid red;
    padding: .5em;
    color: inherit;
    font-size: 1.5rem;

    &:link { text-decoration: none; }
    &:hover {
      border-color: gray;
      background: lightgray;
    }
    &:active { color: red; }
  }
}

.scenes-list.hidden {
  display: block;
  transform: scaleY(0);
}
